header{
    color: rgb(172, 34, 34);
    text-align: center;
    font-size: 20px;
}

nav{
    width: 20px;
    float: left;
}

nav a {
    background-color: brown;
    border-radius: 10px 0 10px 0;
}

section{
    float: right;
    width: 75%;
}